# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Linting and Unit Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.9"
          - "3.10"
        lib-pydantic:
          - "1.10.0"
        deps:
          - dev,docs
          - dev,docs,yaml
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install with deps [${{ matrix.deps }}] and pydantic~=${{ matrix.lib-pydantic }}
        run: |
          pip install "pydantic~=${{ matrix.lib-pydantic }}"
          pip install -e ".[${{ matrix.deps }}]"
      - name: Lint with ruff
        run: |
          ruff check . --show-fixes --show-source
      - name: Test with pytest
        run: |
          pytest
      - name: Test with mypy
        run: |
          mypy
      - name: Check Markdown (Optional)
        uses: DavidAnson/markdownlint-cli2-action@v9
        continue-on-error: true
